body{
    margin: 0;
    background: #e4e1e1;
}
.nav {
    height: 40px;
    background: #5fc6d3;
}
.nav .left {
    float: left;
}
.nav .right {
    float: right;
}
.nav a{
    color:#fff;
    padding: 10px;
    font-size: 14px;
    line-height: 40px;
    text-decoration: none;
}
.nav p{
    color:#fff;
    margin: 0;
    font-weight: 550;
    text-align: center;
    line-height: 40px;
}
.main .content{
    height: auto;
}
.main .phone .img,
.main .mima .img{
    text-align: center;
    float: left;
    width: 50px;
    background: #fff;
}
.main .phone .in::before,
.main .mima .in::before{
    float: left;
    content: "";
    display: inline-block;
    width: 1px;
    height: 25px;
    background: #cac1c0;
    vertical-align: middle;
}
.main .phone .in,
.main .mima .in{
    background: #fff;
}
.main .phone,
.main .mima {
    border: 10px solid #fff;
    margin: 10px 0;
}
.main .phone input,
.main .mima input{
    padding-left:10px; 
    display: block;
    border: 0;
    height: 25px;
    outline: 0;
}
.main .phone img,
.main .mima img {
    height: 25px;
}

.main button{
    width: 100%;
    height: 60px;
    text-align: center;
    background: #5fc6d3;
    display: inline-block;
    border: 0;
    color: #fff;
    font-size: 18px;
    letter-spacing: 15px;
}
.main .footer{
    float: right;
    margin: 10px;
}
.main .footer a{
    color: #5fc6d3;
}


