.table >div{
    font-size: 0;
    float: left;
}
.table {
    text-align: center;
}
.table::before,
.table::after{
    content: "";
    display: block;
    clear: both;
}
img {
    width: 25%;
    height: 25%;
    margin: 5px;
    border-radius: 10px;
}