body {
    margin: 0px;
    padding: 0px;
}
.back{
    background: url(img/6.jpg);
    background-attachment: fixed;/*固定背景*/
    background-repeat: no-repeat;/*平铺*/
    background-size: cover;/*把背景图像扩展至足够大，
    以使背景图像完全覆盖背景区域*/
    /*
    background-position: center center; 居中显示
    */
}
header{
    background: rgba(0, 0, 0, 0.3);
}
nav {
    background:transparent;
    height: 50px;
}
#banner {
    background:transparent;/*透明*/
    height: 700px;
    margin-top:-8px;
}
nav ul{
    list-style: none;
    margin: 0px;
    float: right;
    padding: 0px;
}
nav ul li {
    display: inline-block;
    line-height: 50px;
    margin-right: 20px;
}
nav ul li a{
    text-decoration: none;
    display: inline-block;
    line-height: inherit;/*继承母元素大小*/
    color: #fff;
}
nav ul li a:hover{
    border-bottom:5px solid #fff;

}
nav .logo{
    float: left;
    padding: 10px;
}
nav .logo a{
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;/*调整符号字母间距*/
}
#banner .inner{
    max-width: 300px;
    color: #fff;
    text-align: center;
    position: relative;
    top:120px;
    margin: 0 auto;
}
#banner .inner h1{
    padding: 10px;
    margin: 0;
}
#banner .inner button {
    border: 0px;
    background: #333;
    color: #eee;
    padding: 10px;
    border-radius: 6px;/*按钮添加圆角边框*/
}
#banner .inner .more{
    line-height: 330px;
}
#banner .inner .lorem{
    line-height: 30px;
    margin: 30px;
}
.hr{
    width: 100%;
    height: 2px;
    margin: 0 auto;
}
#banner .inner .hr{
    background: #fff;
}
.section-green{
    background: #0d725c;
    width: 100%;
    height: 500px;
    text-align: center;
    color: #fff;
}
.section-green .article{
    margin: 0px auto;
}
.section-green .article h2{
    padding-top:90px;
    margin: 0;
}
.section-green .article .hr{
    background: #6c9b91;
    width: 30%;
    margin: 20px auto;
}
.section-green .article p{
    font-size: 18px;
}
.section-green .icon-group{
    margin-top: 60px;
}
.section-green .icon-group span{
    display: inline-block;
    width: 80px;
    height: 80px;
    background: #668f71;
    transform: rotate(45deg);
    margin: 20px;
    /*transform表示：形变
      rotate表示：旋转
      deg：表示度数*/
}
.section-gray{
    background: #2f3749;
    color: #fff;
}
.section-gray .img-section{
    width: 45%;
}
.article-view .text{
    width: 55%;
}
.section-gray .img-section img{
    width: 100%;
}
.article-view:nth-child(odd){/*奇偶选择器*/
    background: rgba(255, 255, 255, 0.05)
}
.article-view >div{
    font-size: 0;
    float: left;
    /*子元素全部向左浮动*/
    /*此动作父元素也会跟着发生变化*/
}
.section-gray .article-view:after{/*在元素之后插入新内容*/
    content: '';
    display: block;
    clear :both;
    /*清除父级元素的浮动*/
}
.article-view .text{
    position: relative;/*相对位置*/
    top:68px;
    left:50px;
}
.article-view .text h2{
    font-size: 30px;
    margin-bottom: 20px;
}
.article-view .text p{
    font-size: 18px;
    letter-spacing: 1px;
}
.section-purple{
    background: #4e3970;
    color: #fff;
}
.section-purple .heading{
    text-align: center;
}
.section-purple .heading h2{
   margin-top: 0px;
   padding-top: 80px;
}
.section-purple .card-group{
    width: 800px;
    margin: auto;
    padding: 20px 0;
}
.section-purple .card-group >*{/*所有子元素*/
    float: left;
    width: 400px;
    /*子元素全部向左浮动*/
    /*此动作父元素也会跟着发生变化*/
}
.section-purple .card-group:after{/*在元素之后插入新内容*/
    content: '';
    display: block;
    clear :both;
    /*清除父级元素的浮动*/
}
.section-purple .card{
    padding: 50px;
    height: 250px;
    box-sizing: border-box;
    /*规定两个并排的带边框的框*/
}
.section-purple .card p{
    font-size: 18px;
    letter-spacing: 1px;
}
.section-purple .card:first-child{
    background: rgba(0, 0, 0, 0.04);
}
.section-purple .card:nth-child(2){
    background: rgba(0, 0, 0, 0.08);
}
.section-purple .card:nth-child(3){
    background: rgba(0, 0, 0, 0.12);
}
.section-purple .card:nth-child(4){
    background: rgba(0, 0, 0, 0.16);
}
.section-purple .card:nth-child(5){
    background: rgba(0, 0, 0, 0.20);
}
.section-purple .card:nth-child(6){
    background: rgba(0, 0, 0, 0.24);
}
footer {
    background: #474d7b;
    color: #fff;
    text-align: center;
    min-height: 200px;
}
footer ul{
    margin: 0px;
    padding: 0px;
}
ul .share-group{
    display: block;
    width: 1080px;
    margin: 0 auto;
    padding: 50px;

}
.share-group li{
    display: inline-block;
    list-style: none;
    margin-top: 50px;
    padding: 10px;
}
footer .copy{
    padding: 20px;
}
